<div id="wrapper">
<div id="wrapper_header">

    <div class="header_top">
	<div class="header_left">
           <a href="/"><img src="http://www.kreatio.com/images/kreatio_logo.jpg" alt="logo"></a>
	</div>
	
		<div class="aboutus_part">
			<ul><% if current_user %>
				<ul class="button-group">
    <li><a href="" class="button primary pill">Logged in as <%= current_user.email %></a></li>
    <li><%= link_to 'Account',current_user, :class=>"button pill"%></li>
    <li><a href="/log_out" class="button pill">LOGOUT</a></li>
</ul>
                  <% else %>
    <a href="/log_in" class="button pill"></a>
               <% end %>
			</ul>
		</div>
		
<!--	
	<div class="header_right">
        <% if current_user %>
           Logged in as <%= current_user.email %>
           <br>
           <%= link_to 'New Qanote', new_qanote_path %>
           <%= link_to 'Index of Qanotes', qanotes_path %>
           <%= link_to "Log out", log_out_path %>
        <% else %>
           Please <%= link_to "log in", log_in_path %> to continue
  <% end %>
	</div> -->
	
</div><!--header_top-->
    <div class="menus">
  <ul>
  	<% if current_user %>
    <li class="n1"><%= link_to 'HOME', user_path(current_user) %></li>
    <li class="n2"><%= link_to 'CREATE NOTE', new_qanote_path %></li>
    <li class="n3"><%= link_to 'INDEX OF QANOTES', :controller => :qanotes, :action => :index, :id => current_user.id %></li>
    <li class="n4"><%= link_to 'USERS', users_path%></li>
    <li class="quebec"></li>
    <% end %>
 </ul>
 </div>
<!--kreatio_header-->
</div>


<div id="wrapper_container">
	
	<div class="demo_left_part">
		<div style="padding-bottom: 200px;">
		<br /><br /><br /><br />
<script>
	
	
</script>


<h1>List of current clients</h1>
<br><br>
<div class="tablekimaa">			
<table>
  <thead>
    <tr>
      <th>Client name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
      	<th scope="row"><%= client.client_name %></th>
        <td><%= link_to 'Select', client %></td>
        <% if (current_user.has_role? :admin) %>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
 
</table>
</div>
<br><br>
<%= link_to 'New Client', new_client_path, :class => "button" %>

</div>
        <br />
        
        <table class="table3">
                <thead>
                    <tr>
                        <th scope="col">hello</th>
                        <th scope="col" abbr="Starter">Smart Starter</th>
                        <th scope="col" abbr="Medium">Smart Medium</th>
                        <th scope="col" abbr="Business">Smart Business</th>
                        <th scope="col" abbr="Deluxe">Smart Deluxe</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th scope="row">Price per month</th>
                        <td>$ 2.90</td>
                        <td>$ 5.90</td>
                        <td>$ 9.90</td>
                        <td>$ 14.90</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <th scope="row">Storage Space</th>
                        <td>512 MB</td>
                        <td>1 GB</td>
                        <td>2 GB</td>
                        <td>4 GB</td>
                    </tr>
                    <tr>
                        <th scope="row">Bandwidth</th>
                        <td>50 GB</td>
                        <td>100 GB</td>
                        <td>150 GB</td>
                        <td>Unlimited</td>
                    </tr>
                    <tr>
                        <th scope="row">MySQL Databases</th>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                    </tr>
                    <tr>
                        <th scope="row">Setup</th>
                        <td>19.90 $</td>
                        <td>12.90 $</td>
                        <td>free</td>
                        <td>free</td>
                    </tr>
                    <tr>
                        <th scope="row">PHP 5</th>
                        <td><span class="check"></span></td>
                        <td><span class="check"></span></td>
                        <td><span class="check"></span></td>
                        <td><span class="check"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Ruby on Rails</th>
                        <td><span class="check"></span></td>
                        <td><span class="check"></span></td>
                        <td><span class="check"></span></td>
                        <td><span class="check"></span></td>
                    </tr>
                </tbody>
            </table>
	</div>

</div> 

<!--kreatio_container-->

<div id="wrapper_footer">
<div class="footer_main_content">
	<div class="footer_logo_part">
		<a href="/"><img src="http://www.kreatio.com/images/footer_logo.jpg" alt="footer"></a>
	</div><!--footer_logo_part-->
	<div class="footer_rgt_part">
		<div class="footer_abt_company">
			<div class="footer_info">
				<h4>ABOUT US</h4>
				<ul>
					<li>
						Manu Dwivedi
					</li>
					<li>
						Rituraj
					</li>
				</ul>
			</div>
		</div><!--footer_abt_company-->
		<div class="footer_links_bottom">
			<ul>
				<br ><br /><br ><br /><br ><br />
				<li style="background: none repeat scroll 0% 0% transparent;">
					<a href="http://www.kreatio.com">© 2013 KREATIO SOFTWARE PVT LTD. All rights reserved</a>
				</li>
			</ul>
		</div><!--footer_links_bottom-->
	</div><!--footer_rgt_part-->
</div><!--footer_main_content-->
</div>
</div>