<h1>Editing Project</h1>

<%= form_for([@client, @project]) do |f| %>
  <% @project.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
   <% end %>

  <p>
    <%= f.label :project_name %><br />
    <%= f.text_field :project_name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', client_project_path(@client, @project) %> |
<%= link_to 'Back', client_projects_path(@client) %>
