<div class="box">
<%= form_for @qanote do |f| %>
  <% if @qanote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qanote.errors.count, "error") %> prohibited this qanote from being saved:</h2>

      <ul>
      <% @qanote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <!-- some script to display patch name-->
				<script type="text/javascript" charset="utf-8">
				 /* $(document).ready(function() {
				  	
				  	var str = this.getElementById("qanote_oldtag").value;
				  	var m = str.charAt(str.length - 1);
				  	var n= str.substr(0,6);
				  	var o= str.substr(6,3);
				  	var o = Number(o);
				  	o = o+1;
				  	this.getElementById("qanote_currenttag").value = n + o;
				  	
				  });
				  */
				
				    function updateQanote_patchnamedetail(){
				        qanote_tasknodetail = document.getElementById("qanote_tasknodetail").value;
				        document.getElementById("qanote_patchnamedetail").value = qanote_tasknodetail+".patch";
				    }
				
				</script>
		   <!--end of script-->



	<h1>Enter new qanote information</h1>
	
<div class="content">
	
	<table>
		<tr><td><h3>Enter the release information below</h3></tr></td>
  <tr><td><div class="text">Client details:  </td><td><%= f.collection_select(:clientdetail, Client.all, :client_name, :client_name,{:prompt => true},{:class=>'styled-select'})%> <br/></td></tr></div>
  <tr><td><div class="text">Project name:  </td><td>
  	   <p class="updated_project">No Client selected</p>
    </div>
  <%= f.hidden_field :projectname %>
  <tr><td><div class="text">Server name:  </td><td><%= f.select(:servername,[['Stage','Stage'],['Test','Test'],['Live','Live']], {:prompt => true},{:class=>'styled-select'})%><br/></div></td></tr>
    <tr><td><div class="text">Product name:  </td><td><%= f.select(:productname, [['Kreatio','Kreatio'],['Webnish','Webnish']], {},{:class=>'styled-select'}) %><br/></div>

  <tr><td><div class="text">Current tag:  </td><td><%= f.text_field :currenttag %></div></td></tr>
  <tr><td><div class="text">Old tag:</td><td>
  	  <p class="updated_oldtag">No project chosen</p></div></td></tr>
  	<%= f.hidden_field :oldtag %>
  <tr><td><div class="text">Date:</td><td><%= f.date_select :date %><br/></td></tr>
  <tr><td><div class="text">Developer email:</td><td><%= f.text_field :developername,:value => current_user.email, :readonly => true %><br/></div></td></tr>
  <tr><td><div class="text">Gatekeeper:</td><td><%= f.text_field :gatekeeper, :class=>"validate[required]"%><br/></div></td></tr>
  <tr><td><div class="text">Uploaded from tag:</td><td><%= f.select :uploadedfromtag, [['Yes','Yes'],['No','No']], {},{:class=>'styled-select'}%><br/></div></td></tr>
  
<div class="header">
    <tr><td><h3>Enter the Released details below</h3></td></tr>
</div>
 
  <tr><td><div class="text">Task No.details:  </td><td><%= f.text_field :tasknodetail, :onkeyup=>"updateQanote_patchnamedetail()"%><br/></td></tr></div>
  <tr><td><div class="text">Patch name details:  </td><td><%= f.text_field :patchnamedetail, class: 'input username'%><br/></div>
  
  
 <div class="header">
    <tr><td><h3>Enter the Code difference details below</h3></tr></td>
</div>

  <tr><td><div class="text">Current application and old tag difference taken:</td><td><%= f.select :diff1, [['Yes','Yes'],['No','No']], {},{:class=>'styled-select'}%><br/></div></td></tr>
  <tr><td><div class="text">Current application and new tag difference taken:</td><td><%= f.select :diff2, [['Yes','Yes'],['No','No']], {},{:class=>'styled-select'}%><br/></div></td></tr>
  <tr><td><div class="text">Signature:  </td><td><%= f.text_field :signature, :class=>"validate[required]"%><br/></td></tr></div>
  <tr><td><div class="text">Tested by:  </td><td><%= f.text_field :testedby, :class=>"validate[required]"%><br/></td></tr></div>
</table>
</div>
<div class="footer">
    <%= f.submit 'Submit', class: 'button'%>
</div>
<% end %>
</div>
